@model Shop.Web.Models.ShoppingCart.ShoppingCartIndexModel

<a asp-area="" asp-controller="ShoppingCart" asp-action="Index" style="padding:5px;color: rgba(0,0,0,.7);text-decoration: none;">
    <i class="fas fa-shopping-cart fa-3x"></i>
    <span style="font-size:20px; text-align:center; margin:5px;">
        @Html.Raw(@Model.ShoppingCart.ShoppingCartItems.Count())
    </span>
</a>