body {
    padding: 50px 0 20px 0;
    background-color: #EEE;
    background-image: url("/images/theme/bg-01.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
}

.account-dropdown {
    text-align:center;
}

.account-dropdown a {
    text-decoration:none;
    color:#777;
}

.account-dropdown a:hover {
    color:black;
}

.account-dropdown button {
    text-decoration:none !important;
    color:#777;
    font-weight:bold;
}

.account-dropdown  button:hover {
    color:black;
}

.navLogo {
    background-image: url("/images/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
    width: 100px;
    margin-right: 12px;
}

.navbar li {
    font-weight: bold;
}

.sectionHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.foodHeading {
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

.frontPageSplash {
    background-image: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.3)), url("/images/theme/front-splash.png");
    background-repeat: no-repeat;
    background-position: right;
}

.frontPageLearn {
    font-family: 'Roboto';
    padding: 12px 0 0 32px;
    height: 360px;
}

.sectionDescription {
    color: #EEE;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0;
}

.frontPageSubHeading {
    font-size: 2em;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'Roboto';
}

.homeSearch {
    width: 100%;
    margin-top: 8px;
    background: rgba(0,0,0,0.1);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    font-size: 2.1em;
    font-family: Rockwell;
    font-weight: bold;
    transition: ease-in 0.2s;
}

.homeSearch:focus {
    border: none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #03A9F4;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 5px 4px -6px #000;
}

.frontPageContent {
    background-color: rgba(255,255,255,0.9);
    padding: 16px;
}

#latestFoods {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}

.foodTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.foodSubtitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.foodData {
    display: inline-block;
}

.foodDate {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.foodLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

.foodAuthorImage {
    width: 80px;
    height: 80px;
    background-size: 100%;
}

.foodAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.foodIndexTitle {
    font-size: 1.4em;
}

.foodContentContainer {
    font-family: 'Roboto';
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.foodAuthorRating {
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto mono';
}

.orderForm {
    margin-bottom:8px;
}

#foodIndexContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.foodHeader {
    background-color: #212121;
    padding: 8px 0 24px 24px;
}

.btn-addToCart {
    margin-left:0;
    float:right;
}

.input-foodAmount {
    width:20%;
    margin:16px;
    margin-left:0px;
}

.input-foodAmount input {
    width:100%;
}

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-back:hover {
        transition: ease-in 0.1s;
        background-color: #1E88E5 !important;
    }

.btn-newReply {
    background-color: #5C6BC0 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newReply:hover {
        background-color: #9FA8DA !important;
        transition: ease-in 0.1s;
    }

.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}

    .btn-file:hover {
        background-color: #039BE5;
        transition: ease 0.3s;
    }

.btn-newFood {
    background-color: #C62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newFood:hover {
        transition: ease-in 0.1s;
        background-color: #E53935 !important;
        color: #fff !important;
    }

.btn-submitFood {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-submitFood:hover {
        transition: ease-in 0.1s;
        background-color: #00897B !important;
        color: #fff !important;
    }

#headingBtn {
    float: right;
    margin-right: 20px;
}

.searchBar {
    padding: 3px 5px 2px 12px;
    margin: 8px;
    background-color: #333;
    width: 10%;
    transition: ease .3s;
}

.searchBar:focus {
    color: black;
    width: 60%;
    background-color: #fff;
}

.invalidAmount {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.profile-img-summary {
    width:40px;
    height: 40px;
    background-size: 100%;
    border-radius: 100%;
    margin:6px;
}

#categoryIndexTable td {
    background-color: rgba(255,255,255,0.9);
}

#categoryIndexTable tr:hover {
    background-color: rgba(0,116,238,1);
}

.categoryData {
    display: inline-block;
}

.categoryTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
}

.categorySubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.categoryDescription {
    color: #555;
    font-family: 'Roboto';
}

.categoryLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 180px;
    width: 270px;
    background-color: #ddd;
    border: 1px solid #555;
    background-size: 100%;
    background-repeat:no-repeat;
}

.categoryFoodCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.categoryMemberCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.btn-cart{
    margin:16px;
    margin-left:0;
}

.categoryPrice {
    /*float:right;*/
    margin:16px;
    margin-left:0;
    margin-top:4px;
    font-size:20px;
    font-weight:bold;
}

#categoryIndexContent {
    padding-bottom: 60px;
    background-color: white;
}

.noFoods {
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto Mono';
}

    .noFoods h3 {
        color: white;
    }

.createFoodSection {
    background-color: #fff;
    padding: 24px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*//////////////////////////////////*/

.nav > li > a.userdd {
    padding: 5px 15px
}

.userprofile {
    width: 100%;
    float: left;
    clear: both;
    margin: 40px auto
}

    .userprofile .userpic {
        height: 100px;
        width: 100px;
        clear: both;
        margin: 0 auto;
        display: block;
        border-radius: 100%;
        box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        position: relative;
    }

        .userprofile .userpic .userpicimg {
            height: auto;
            width: 100%;
            border-radius: 100%;
        }

.username {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .username + p {
        color: #607d8b;
        font-size: 13px;
        line-height: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.settingbtn {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.userprofile.small {
    width: auto;
    clear: both;
    margin: 0px auto;
}

    .userprofile.small .userpic {
        height: 40px;
        width: 40px;
        margin: 0 10px 0 0;
        display: block;
        border-radius: 100%;
        box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
        position: relative;
        float: left;
    }

    .userprofile.small .textcontainer {
        float: left;
        max-width: 100px;
        padding: 0
    }

    .userprofile.small .userpic .userpicimg {
        min-height: 100%;
        width: 100%;
        border-radius: 100%;
    }

    .userprofile.small .username {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        margin: 0px;
        float: left;
        width: 100%;
    }

        .userprofile.small .username + p {
            color: #607d8b;
            font-size: 13px;
            float: left;
            width: 100%;
            margin: 0;
        }
/*==============================*/
/*====== Social Profile css =====*/
/*==============================*/
.countlist h3 {
    margin: 0;
    font-weight: 400;
    line-height: 28px;
}

.countlist {
    text-transform: uppercase
}

    .countlist li {
        padding: 15px 30px 15px 0;
        font-size: 14px;
        text-align: left;
    }

        .countlist li small {
            font-size: 12px;
            margin: 0
        }

.followbtn {
    float: right;
    margin: 22px;
}

.userprofile.social {
    background: url(http://www.bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg) no-repeat top center;
    background-size: 100%;
    padding: 50px 0;
    margin: 0
}

    .userprofile.social .username {
        color: #ffffff
    }

        .userprofile.social .username + p {
            color: #ffffff;
            opacity: 0.8
        }

.postbtn {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9
}

.status-upload {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

.posttimeline .panel {
    margin-bottom: 15px
}

.commentsblock {
    background: #f8f9fb;
}

.nopaddingbtm {
    margin-bottom: 0
}
/*==============================*/
/*====== Recently connected  heading =====*/
/*==============================*/
.memberblock {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 15px
}

.member {
    width: 24%;
    float: left;
    margin: 2px 1% 2px 0;
    background: #ffffff;
    border: 1px solid #d8d0c3;
    padding: 3px;
    position: relative;
    overflow: hidden
}

.memmbername {
    position: absolute;
    bottom: -30px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    line-height: 30px;
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 11px;
    transition: 0.5s ease all;
}

.member:hover .memmbername {
    bottom: 0
}

.member img {
    width: 100%;
    transition: 0.5s ease all;
}

.member:hover img {
    opacity: 0.8;
    transform: scale(1.2)
}

.panel-default > .panel-heading {
    color: #607D8B;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    border-color: #e1eaef;
}



.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.page-header.small {
    position: relative;
    line-height: 22px;
    font-weight: 400;
    font-size: 20px;
}

.favorite i {
    color: #eb3147;
}

.btn i {
    font-size: 17px;
}

.panel {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    margin-bottom: 35px;
    border-radius: 0px;
    position: relative;
    border: 0;
    display: inline-block;
    width: 100%;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: 1px solid #eef2f4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #607d8b;
}

.panel-blue {
    color: #ffffff;
    background-color: #03A9F4;
}

    .panel-red.userlist .username, .panel-green.userlist .username, .panel-yellow.userlist .username, .panel-blue.userlist .username {
        color: #ffffff;
    }

    .panel-red.userlist p, .panel-green.userlist p, .panel-yellow.userlist p, .panel-blue.userlist p {
        color: rgba(255, 255, 255, 0.8);
    }

        .panel-red.userlist p a, .panel-green.userlist p a, .panel-yellow.userlist p a, .panel-blue.userlist p a {
            color: rgba(255, 255, 255, 0.8);
        }

.progress-bar-success, .status.active, .panel-green, .panel-green > .panel-heading, .btn-success, .fc-event, .badge.green, .event_green {
    color: white;
    background-color: #8BC34A;
}

.progress-bar-warning, .panel-yellow, .status.pending, .panel-yellow > .panel-heading, .btn-warning, .fc-unthemed .fc-today, .badge.yellow, .event_yellow {
    color: white;
    background-color: #FFC107;
}

.progress-bar-danger, .panel-red, .status.inactive, .panel-red > .panel-heading, .btn-danger, .badge.red, .event_red {
    color: white;
    background-color: #F44336;
}

.media-object {
    max-width: 50px;
    border-radius: 50px;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.media:first-child {
    margin-top: 15px;
}

.media-object {
    display: block;
}

.dotbtn {
    height: 40px;
    width: 40px;
    background: none;
    border: 0;
    line-height: 40px;
    vertical-align: middle;
    padding: 0;
    margin-right: -15px;
}

.dots {
    height: 4px;
    width: 4px;
    position: relative;
    display: block;
    background: rgba(0,0,0,0.5);
    border-radius: 2px;
    margin: 0 auto;
}

    .dots:after, .dots:before {
        content: " ";
        height: 4px;
        width: 4px;
        position: absolute;
        display: inline-block;
        background: rgba(0,0,0,0.5);
        border-radius: 2px;
        top: -7px;
        left: 0;
    }

    .dots:after {
        content: " ";
        top: auto;
        bottom: -7px;
        left: 0;
    }

.photolist img {
    width: 100%;
}

.photolist {
    background: #e1eaef;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profilegallery .grid-item a {
    height: 100%;
    display: block;
}

.grid a {
    width: 100%;
    display: block;
    float: left;
}

.media-body {
    color: #607D8B;
    overflow: visible;
}