body {
    padding: 50px 0 20px 0;
    background-color: #EEE;
    background-image: url("/images/theme/bg-01.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
}

.navLogo {
    background-image: url("/images/app-logo-s.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
    width: 150px;
    margin-right: 12px;
}

.navbar li {
    font-weight: bold;
}

.sectionHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.foodHeading {
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

.frontPageSplash {
    background-image: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.3)), url("/images/theme/front-splash.png");
    background-repeat: no-repeat;
    background-position: right;
}

.frontPageLearn {
    font-family: 'Roboto';
    padding: 12px 0 0 32px;
    height: 360px;
}

.sectionDescription {
    color: #EEE;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0;
}

.frontPageSubHeading {
    font-size: 2em;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'Roboto';
}

.homeSearch {
    width: 100%;
    margin-top: 8px;
    background: rgba(0,0,0,0.1);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    font-size: 2.1em;
    font-family: Rockwell;
    font-weight: bold;
    transition: ease-in 0.2s;
}

.homeSearch:focus {
    border: none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #03A9F4;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 5px 4px -6px #000;
}

.frontPageContent {
    background-color: rgba(255,255,255,0.9);
    padding: 16px;
}

#latestFoods {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}

.foodTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.foodSubtitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.foodData {
    display: inline-block;
}

.foodDate {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.foodLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

.foodAuthorImage {
    width: 80px;
    height: 80px;
    background-size: 100%;
}

.foodAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.foodIndexTitle {
    font-size: 1.4em;
}

.foodContentContainer {
    font-family: 'Roboto';
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.foodAuthorRating {
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto mono';
}

#foodIndexContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.foodHeader {
    background-color: #212121;
    padding: 8px 0 24px 24px;
}

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-back:hover {
        transition: ease-in 0.1s;
        background-color: #1E88E5 !important;
    }

.btn-newReply {
    background-color: #5C6BC0 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newReply:hover {
        background-color: #9FA8DA !important;
        transition: ease-in 0.1s;
    }

.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}

    .btn-file:hover {
        background-color: #039BE5;
        transition: ease 0.3s;
    }

.btn-newFood {
    background-color: #C62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newFood:hover {
        transition: ease-in 0.1s;
        background-color: #E53935 !important;
        color: #fff !important;
    }

.btn-submitFood {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-submitFood:hover {
        transition: ease-in 0.1s;
        background-color: #00897B !important;
        color: #fff !important;
    }

#headingBtn {
    float: right;
    margin-right: 20px;
}

.searchBar {
    padding: 3px 5px 2px 12px;
    margin: 8px;
    background-color: #333;
    width: 10%;
    transition: ease .3s;
}

    .searchBar:focus {
        color: black;
        width: 60%;
        background-color: #fff;
    }

#categoryIndexTable td {
    background-color: rgba(255,255,255,0.9);
}

#categoryIndexTable tr:hover {
    background-color: rgba(0,116,238,1);
}

.categoryData {
    display: inline-block;
}

.categoryTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
}

.categorySubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.categoryDescription {
    color: #555;
    font-family: 'Roboto';
}

.categoryLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
    background-size: 100%;
}

.categoryFoodCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.categoryMemberCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

#categoryIndexContent {
    padding-bottom: 60px;
    background-color: white;
}

.noFoods {
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto Mono';
}

    .noFoods h3 {
        color: white;
    }

.createFoodSection {
    background-color: #fff;
    padding: 24px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
