@model Shop.Web.Models.Login.LoginViewModel

<div class="row loginForm">
    <div class="col-md-8 col-md-offset-2">
        <h2>Please log in before placing an order.</h2>
        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
            <h4>Enter your details below</h4>
            <hr />
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group pull-right formPullRightButton">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Log in" />
                </div>
            </div>
        </form>
    </div>
</div>
