@model Shop.Web.Models.Category.CategoryIndexModel
@using Microsoft.AspNetCore.Identity
@using Shop.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Food categories</h1>

@if(User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-block btn-default" asp-controller="Category" asp-action="New">New category</a>
    </div>
}
@if(!Model.CategoryList.Any())
{
<h3>It looks like there are no categories right now...</h3>
}
else
{
    <table class="table table-hover" id="categoryIndexTable">
        <tbody>
            @foreach (var category in Model.CategoryList)
            {
                <tr>
                    <td>
                        
                        <div class="categoryLogo" style="background-image: url(@category.ImageUrl); background-size:100%;"></div>
                        <a class="btn btn-info" asp-controller="Category" asp-action="Topic" asp-route-id="@category.Id">
                            @category.Name
                        </a>
                    </td>
                    <td>
                        @category.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
