@model Shop.Web.Models.Category.CategoryIndexModel

<h1>Food categories</h1>
@if(!Model.CategoryList.Any())
{
<h3>It looks like there are no categories right now...</h3>
}
else
{
    <table class="table table-hover" id="categoryIndexTable">
        <tbody>
            @foreach (var category in Model.CategoryList)
            {
                <tr>
                    <td>
                        
                        <a asp-controller="Category" asp-action="Topic" asp-route-id="@category.Id">
                            <div class="categoryLogo" style="background-image: url(@category.ImageUrl); background-size:100%;"></div>
                            @category.Name
                        </a>
                    </td>
                    <td>
                        @category.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
