@using Microsoft.AspNetCore.Identity
@using Shop.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Sign In</a></li>
        <li class="active"><a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path">Register</a></li>
    </ul>
}
