@model Shop.Web.Models.Account.AccountSummaryModel

<li style="display:flex;">
	<a asp-action="Profile" asp-controller="Account" style="padding:0">
		<img src="@Model.ImageUrl" class="profile-img-summary"/>
		@Model.Name
	</a>
</li>